body {
    font-family: Arial, sans-serif;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

header, nav, section {
    padding: 20px;
    margin: 20px;
}

header {
    background: #333;
    color: whitesmoke;
    text-align: center;
    padding: 20px 0;
}

@media (max-width: 768px) {
    header {
        font-size: 10px;
    }
}

.option-navigation {
    list-style: none;
    padding: 0;
    text-align: center;
}

.option-navigation li {
    display: inline;
    margin: 0 10px;
}

.option-navigation a {
    text-decoration: none;
    color: #333;
}

.option-navigation a:hover {
    text-decoration: underline;
}

section {
    background: #f4f4f4;
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
}

.image-container {
    width: 90%;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.image {
    max-width: 100%; 
    height: auto; 
}

.name {
    text-align: center;
}


@media (max-width: 768px) {
    header {
        font-size: 1.2em;
    }
    .option-navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .option-navigation li {
        margin: 5px 0;
    }
    section {
        margin: 10px;
    }
    .image {
        max-width: 100%; 
    }
    .name {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px;
    }
    .option-navigation li {
        margin: 3px 0;
    }
    section {
        margin: 5px;
    }
    .image {
        max-width: 100px; 
    }
    .name {
        font-size: 1em;
    }
}